<header class="row">
<h1 class="text-center col-md-6 col-md-offset-3">Best resources to learn about {{topic.name}}</h1>
</header>

<section class="row resource" ng-if="resources">
  <ul class="list-unstyled">
    <li ng-repeat="res in resources">
      <section class="well col-md-6 col-md-offset-3">
          <header>
            <h1><a href="#">{{res.name}}</a></h1>
            <h2>
              {{res.rating}}
              <a class="vote" ng-click="voteUp(res)">+</a>/
              <a class="vote" ng-click="voteDown(res)">-</a>
            </h2>
          </header>
          <div>
            <ul class="list-unstyled">
              <li>Description: {{res.description}}</li>
              <li><a href="{{res.url}}">{{res.url}}</a></li>
            </ul>
          </div >
        </section>
    </li>
  </ul>
</section>

<section class="row">
  <div class="col-md-6 col-md-offset-3">
    <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" ng-click='openModal()'>
        Add new resource!
    </button>
  </div>
</section>
