<header class="row">
<h1 class="text-center col-md-6 col-md-offset-3">Best resources to learn about {{topic.name}}</h1>
</header>

<section class="row" ng-if="resources">
  <ul class="list-unstyled">
    <li ng-repeat="res in resources">
      <section class="well col-md-6 col-md-offset-3">
          <h1><a href="#">{{res.name}}</a></h1>
          <div>
            <ul class="list-unstyled">
              <li>Description: {{res.description}}</li>
              <li><a href="{{res.url}}">{{res.url}}</a></li>
            </ul>
          </div >
        </section>
    </li>
  </ul>
</section>
